h1 {
    color:#f55c47;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h2 {
    color:#511281;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#f7a440;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
